{% extends "templates.html" %} {% block extra_head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
{% endblock extra_head %} {% block content %}
<div class="container my-5">
  <div class="row">
    <!-- Sidebar Kiri -->
    <div class="col-md-3" id="main-search">
      <div
        class="text-light p-3 rounded"
        style="overflow-y: auto"
        id="leftSide"
      >
        <div class="mb-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            id="searchInput"
          />
        </div>
        <div class="mb-4">
          <h6 class="text-uppercase">Region</h6>
          <ul class="list-unstyled" id="region">
            <li
              class="d-flex align-items-center mb-3 p-2"
              id="leftCard"
              onclick="detailCountry('england', 'Inggris')"
            >
              <img
                src="https://static.lsmedia1.com/i2/fh/england.jpg"
                alt="england"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Inggris</span>
                <small class="text-light text-truncate"></small>
              </div>
            </li>
            <li
              class="d-flex align-items-center mb-3 p-2"
              id="leftCard"
              onclick="detailCountry('indonesia', 'Indonesia')"
            >
              <img
                src="https://static.lsmedia1.com/i2/fh/indonesia.jpg"
                alt="indonesia"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Indonesia</span>
                <small class="text-light text-truncate"></small>
              </div>
            </li>
            <li
              class="d-flex align-items-center mb-3 p-2"
              id="leftCard"
              onclick="detailCountry('champions-league', 'Liga Champions')"
            >
              <img
                src="https://static.lsmedia1.com/competition/high/2023-champions-league.png"
                alt="champions-league"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Liga Champions</span>
                <small class="text-light text-truncate"></small>
              </div>
            </li>
            <li
              class="d-flex align-items-center mb-3 p-2"
              id="leftCard"
              onclick="detailCountry('spain', 'Spanyol')"
            >
              <img
                src="https://static.lsmedia1.com/i2/fh/spain.jpg"
                alt="spain"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Spanyol</span>
                <small class="text-light text-truncate"></small>
              </div>
            </li>
            <li
              class="d-flex align-items-center mb-3 p-2"
              id="leftCard"
              onclick="detailCountry('italy', 'Italia')"
            >
              <img
                src="https://static.lsmedia1.com/i2/fh/italy.jpg"
                alt="italy"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Italia</span>
                <small class="text-light text-truncate"></small>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h6 class="text-uppercase">Teams</h6>
          <ul class="list-unstyled" id="teams">
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://lsm-static-prod.lsmedia1.com/medium/enet/10260.png"
                alt="Manchester United"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Manchester United</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://lsm-static-prod.lsmedia1.com/medium/teambadge/liverpool-2024.png"
                alt="Liverpool"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Liverpool</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://lsm-static-prod.lsmedia1.com/medium/enet/9825.png"
                alt="Arsenal"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Arsenal</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://lsm-static-prod.lsmedia1.com/medium/enet/8456.png"
                alt="Manchester City"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Manchester City</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://lsm-static-prod.lsmedia1.com/medium/teambadge/tottenham-hotspur-2024.png"
                alt="Tottenham Hotspur"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Tottenham Hotspur</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="mb-4">
          <h6 class="text-uppercase">Competition</h6>
          <ul class="list-unstyled" id="competition">
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://static.lsmedia1.com/competition/high/premier-league-2024.png"
                alt="premier-league"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Premier League</span>
                <small class="text-truncate">Inggris</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://static.lsmedia1.com/i2/fh/indonesia.jpg"
                alt="liga-1"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Liga 1</span>
                <small class="text-truncate">Indonesia</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://static.lsmedia1.com/competition/high/2023-italy-serie-a.png"
                alt="serie-a"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Serie A</span>
                <small class="text-truncate">Italia</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://static.lsmedia1.com/competition/high/2023-spain-laliga.png"
                alt="laliga"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">LaLiga</span>
                <small class="text-truncate">Spanyol</small>
              </div>
            </li>
            <li class="d-flex align-items-center mb-3 p-2" id="leftCard">
              <img
                src="https://static.lsmedia1.com/competition/high/2023-bundesliga.png"
                alt="bundesliga"
                class="me-3"
                style="width: 20px; object-fit: cover"
              />
              <div class="d-flex flex-column">
                <span class="text-truncate">Bundesliga</span>
                <small class="text-truncate">Jerman</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content Tengah -->
    <div class="col-md-9" id="main-div">
      <div class="py-3 rounded text-light">
        <!-- Calendar Header -->
        <div class="d-flex justify-content-between">
          <p class="mt-3 fw-bold" id="calendar-month">March 2025</p>
          <button
            class="btn text-light flatpickr flatpickr-input"
            id="kt_datepicker_1"
            type="text"
            readonly="readonly"
          >
            <img src="/static/img/calendar.png" />
          </button>
        </div>

        <!-- Calendar Grid -->
        <div class="calendar-container" id="calendar-grid">
          <div class="calendar-card">
            <span>FRI</span>
            <span class="fw-normal">28</span>
          </div>
          <div class="calendar-card">
            <span>SAT</span>
            <span class="fw-normal">1</span>
          </div>
          <div class="calendar-card">
            <span>SUN</span>
            <span class="fw-normal">2</span>
          </div>
          <div class="calendar-card active">
            <span>MON</span>
            <span class="fw-normal">3</span>
          </div>
          <div class="calendar-card">
            <span>TUE</span>
            <span class="fw-normal">4</span>
          </div>
          <div class="calendar-card">
            <span>WED</span>
            <span class="fw-normal">5</span>
          </div>
          <div class="calendar-card">
            <span>THU</span>
            <span class="fw-normal">6</span>
          </div>
        </div>

        <p class="mt-3">MATCHES</p>
        <div class="button-container" id="next">
          <button class="circle-button active">
            <div class="icon">
              <img
                src="https://static.lsmedia1.com/i2/fh/indonesia.jpg"
                alt="liga-1"
              />
            </div>
            <span>Liga 1</span></button
          ><button class="circle-button">
            <div class="icon">
              <img
                src="https://static.lsmedia1.com/competition/high/2024-turkish-super-lig.png"
                alt="super-lig"
              />
            </div>
            <span>Süper Lig</span>
          </button>
        </div>

        <div class="list-form" bis_skin_checked="1">
          <div
            class="card-form mt-2 mb-2"
            bis_skin_checked="1"
            style="cursor: pointer"
          >
            <div class="info-form" bis_skin_checked="1">
              <div class="status-match" bis_skin_checked="1">FT</div>
              <div class="info-teamForm" bis_skin_checked="1">
                <div class="team1-detail" bis_skin_checked="1">
                  <img
                    loading="lazy"
                    src="https://lsm-static-prod.lsmedia1.com/medium/enet/10260.png"
                    class="icon"
                    style="height: 30px; width: 30px"
                  />
                  <div class="name-team-detail" bis_skin_checked="1">
                    Manchester United
                  </div>
                </div>
                <div class="team2-detail" bis_skin_checked="1">
                  <img
                    loading="lazy"
                    src="https://lsm-static-prod.lsmedia1.com/medium/enet/9902.png"
                    class="icon"
                    style="height: 30px; width: 30px"
                  />
                  <div class="name-team-detail" bis_skin_checked="1">
                    Ipswich Town
                  </div>
                </div>
              </div>
            </div>
            <div class="info-form" bis_skin_checked="1">
              <div class="info-teamForm" bis_skin_checked="1">
                <div
                  class="score-form"
                  style="margin-bottom: 20px"
                  bis_skin_checked="1"
                >
                  3
                </div>
                <div class="score-form" bis_skin_checked="1">2</div>
              </div>
              <div class="status-favorite" bis_skin_checked="1">
                <img
                  loading="lazy"
                  src="/static/img/star_border.png"
                  class="icon"
                  style="height: 36px; width: 36px"
                />
              </div>
            </div>
          </div>
          <div
            class="card-form mt-2 mb-2"
            bis_skin_checked="1"
            style="cursor: pointer"
          >
            <div class="info-form" bis_skin_checked="1">
              <div class="status-match" bis_skin_checked="1">NS</div>
              <div class="info-teamForm" bis_skin_checked="1">
                <div class="team1-detail" bis_skin_checked="1">
                  <img
                    loading="lazy"
                    src="https://lsm-static-prod.lsmedia1.com/medium/enet/8455.png"
                    class="icon"
                    style="height: 30px; width: 30px"
                  />
                  <div class="name-team-detail" bis_skin_checked="1">
                    Chelsea
                  </div>
                </div>
                <div class="team2-detail" bis_skin_checked="1">
                  <img
                    loading="lazy"
                    src="https://lsm-static-prod.lsmedia1.com/medium/enet/10260.png"
                    class="icon"
                    style="height: 30px; width: 30px"
                  />
                  <div class="name-team-detail" bis_skin_checked="1">
                    Manchester United
                  </div>
                </div>
              </div>
            </div>
            <div class="info-form" bis_skin_checked="1">
              <div class="status-favorite" bis_skin_checked="1">
                <img
                  loading="lazy"
                  src="/static/img/star_border.png"
                  class="icon"
                  style="height: 36px; width: 36px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block extra_js %}
<script>
  generateCalendar();
  const calendarBtn = document.getElementById("kt_datepicker_1");

  // Inisialisasi Flatpickr
  calendarBtn.flatpickr({
    dateFormat: "Ymd", // Format tanggal menjadi 20250107
    disableMobile: "true",
    onChange: function (selectedDates, dateStr, instance) {
      fetchSortedData(dateStr); // Cetak tanggal ke konsol
      generateCalendar(dateStr);
    },
  });

  function convertYmdToDate(ymdString) {
    const year = parseInt(ymdString.substring(0, 4)); // Ambil 4 digit pertama untuk tahun
    const month = parseInt(ymdString.substring(4, 6)) - 1; // Ambil 2 digit berikutnya untuk bulan (0-based index)
    const day = parseInt(ymdString.substring(6, 8)); // Ambil 2 digit terakhir untuk hari

    return new Date(year, month, day); // Buat objek Date
  }

  function generateCalendar(dateParam = null) {
    const today = dateParam
      ? convertYmdToDate(dateParam) // Jika ada dateParam, gunakan fungsi untuk konversi
      : new Date(); // Jika tidak ada dateParam, gunakan tanggal hari ini
    const calendarGrid = document.getElementById("calendar-grid");
    calendarGrid.innerHTML = "";
    const calendarMonth = document.getElementById("calendar-month");

    // Set the month and year in the header
    const options = { month: "long", year: "numeric" };
    calendarMonth.textContent = today.toLocaleDateString("en-US", options);

    // Calculate dates
    const days = [];
    for (let i = -3; i <= 3; i++) {
      const date = new Date();
      date.setDate(today.getDate() + i); // Shift the date by i days
      days.push(date);
    }

    // Create calendar cards
    days.forEach((date, index) => {
      const card = document.createElement("div");
      card.classList.add("calendar-card");
      const year = date.getFullYear(); // Tahun (YYYY)
      const month = (date.getMonth() + 1).toString().padStart(2, "0"); // Bulan (MM) dengan dua digit
      const day = date.getDate().toString().padStart(2, "0"); // Hari (DD) dengan dua digit

      const formattedDate = `${year}${month}${day}`; // Format YYYYMMDD

      // Highlight the "today" card (3rd card, index 2)
      if (index === 3) {
        card.classList.add("active");
      }

      // Format the date
      const dayName = date
        .toLocaleDateString("en-US", { weekday: "short" })
        .toUpperCase(); // e.g., "SUN"
      const dayNumber = date.getDate(); // e.g., "01"

      card.innerHTML = `
          <span>${dayName}</span>
          <span class="fw-normal">${dayNumber}</span>
        `;

      // Add click event listener to make it selectable
      card.addEventListener("click", () => {
        // Remove active class from all cards
        document
          .querySelectorAll(".calendar-card")
          .forEach((c) => c.classList.remove("active"));

        // Add active class to the clicked card
        card.classList.add("active");
        fetchSortedData(formattedDate);

        // Display selected date in the console
        // console.log(`Selected date: ${date.toDateString()}`);
      });

      // Append the card to the grid
      calendarGrid.appendChild(card);
    });
  }

  function formatTimestamp(timestamp) {
    // Memastikan bahwa timestamp adalah string
    let ts = timestamp.toString();

    // Mengambil bagian-bagian dari timestamp
    let year = ts.substring(0, 4); // Ambil tahun
    let month = ts.substring(4, 6); // Ambil bulan
    let day = ts.substring(6, 8); // Ambil hari
    let hour = ts.substring(8, 10); // Ambil jam
    let minute = ts.substring(10, 12); // Ambil menit

    // Array untuk nama bulan
    const months = [
      "Jan",
      "Feb",
      "Mar",
      "Apr",
      "May",
      "Jun",
      "Jul",
      "Aug",
      "Sep",
      "Oct",
      "Nov",
      "Dec",
    ];

    // Menyusun string hasil format
    let formattedDate = `${day} ${
      months[parseInt(month) - 1]
    } ${year} - ${hour}.${minute}`;

    return formattedDate;
  }

  function timeAgo(dateString) {
    const now = new Date();
    const pastDate = new Date(dateString);
    const diffInSeconds = Math.floor((now - pastDate) / 1000);

    const intervals = {
      year: 31536000,
      month: 2592000,
      week: 604800,
      day: 86400,
      hour: 3600,
      minute: 60,
      second: 1,
    };

    for (let key in intervals) {
      const count = Math.floor(diffInSeconds / intervals[key]);
      if (count > 0) {
        return `${count} ${key}${count !== 1 ? "s" : ""} ago`;
      }
    }
    return "Just now";
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock extra_js%}
